@using Newswebsite.Models
@model HomeNews
@{
    ViewData["Title"] = "Trang chủ";
}
@if (Model != null)
{
    if (Model.ListNewsIsHot != null && Model.ListNewsIsHot.Count > 0)
    {
        var newsHotOne = Model.ListNewsIsHot[0];
        <section class="bg-accent section-space-less2">
            <div class="container">
                <div class="row tab-space1">
                    <div class="col-lg-6 col-md-12">
                        <div class="img-overlay-70 img-scale-animate mb-2">
                            <img src="/Uploads/Images/@newsHotOne.Thumb" onclick="window.location.href=/News/NewDetail?Id=@newsHotOne.Id" style="height:432px;" alt="news" class="img-fluid width-100">
                            <div class="mask-content-lg">
                                <div class="topic-box-sm color-cinnabar mb-20">@newsHotOne.CateName</div>
                                <div class="post-date-light">
                                    <ul>
                                        <li>
                                            <span>by</span>
                                            <a href="javascript:void(0)">@newsHotOne.FullName</a>
                                        </li>
                                        <li>
                                            <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>@newsHotOne.CreatedDate.Value.ToString("dd/MM/yyyy")
                                        </li>
                                    </ul>
                                </div>
                                <h1 class="title-medium-light">
                                    <a href="/News/NewDetail?Id=@newsHotOne.Id">@newsHotOne.Title</a>
                                </h1>
                            </div>
                        </div>
                    </div>
                    @if (Model.ListNewsIsHot.Count > 1)
                    {
                        var newsHotTwo = Model.ListNewsIsHot[1];
                        var lstNewHotCate = Model.ListNewsIsHot.Where(x => x.Id != newsHotOne.Id && x.Id != newsHotTwo.Id).ToList();
                        <div class="col-lg-6 col-md-12">
                            <div class="row tab-space1">
                                <div class="col-12">
                                    <div class="img-overlay-70 img-scale-animate mb-2">
                                        <div class="mask-content-sm">
                                            <div class="topic-box-sm color-azure-radiance mb-10">@newsHotTwo.CateName</div>
                                            <h2 class="title-medium-light">
                                                <a href="/News/NewDetail?Id=@newsHotTwo.Id">@newsHotTwo.Title</a>
                                            </h2>
                                        </div>
                                        <img src="/Uploads/Images/@newsHotTwo.Thumb" style="height:213px;" alt="news" class="img-fluid width-100">
                                    </div>
                                </div>
                                @foreach (var item in lstNewHotCate.Take(2).ToList())
                                {
                                    <div class="col-sm-6 col-12">
                                        <div class="img-overlay-70 img-scale-animate mb-2">
                                            <div class="mask-content-sm">
                                                <div class="topic-box-sm color-apple mb-10">@item.CateName</div>
                                                <h3 class="title-medium-light">
                                                    <a href="/News/NewDetail?Id=@item.Id">@item.Title </a>
                                                </h3>
                                            </div>
                                            <img src="/Uploads/Images/@item.Thumb" alt="news" style="width:276px; height:218px;" class="img-fluid width-100">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
    <section class="bg-body section-space-default">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    @if (Model.ListNewsIsHotHome != null && Model.ListNewsIsHotHome.Count > 0)
                    {
                        var itemIsHostHomeOne = Model.ListNewsIsHotHome[0];
                        <div class="mb-20-r ne-isotope">
                            <div class="topic-border color-cinnabar mb-30">
                                <div class="topic-box-lg color-cinnabar">Tin nóng</div>
                                <div class="more-info-link">
                                    <a href="/News/NewsIstHot">
                                        Xem thêm
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="featuredContainer">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="img-overlay-70 img-scale-animate mb-30">
                                            <a href="single-news-1.html">
                                                <img src="/Uploads/Images/@itemIsHostHomeOne.Thumb" style="width:auto; height:506px;" alt="news" class="img-fluid width-100">
                                            </a>
                                            <div class="mask-content-lg">
                                                <div class="topic-box-sm color-cinnabar mb-20">@itemIsHostHomeOne.CateName</div>
                                                <div class="post-date-light">
                                                    <ul>
                                                        <li>
                                                            <span>by</span>
                                                            <a href="single-news-1.html">@itemIsHostHomeOne.FullName</a>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            </span>@itemIsHostHomeOne.CreatedDate.Value.ToString("dd/MM/yyyy")
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h2 class="title-medium-light size-lg">
                                                    <a href="/News/NewDetail?Id=@itemIsHostHomeOne.Id">@itemIsHostHomeOne.Title</a>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        @foreach (var isHot in Model.ListNewsIsHotHome.Take(7).ToList())
                                        {
                                            if (isHot.Id != itemIsHostHomeOne.Id)
                                            {
                                                <div class="media mb-30">
                                                    <a class="width38-lg width40-md img-opacity-hover" href="single-news-1.html">
                                                        <img src="/Uploads/Images/@isHot.Thumb" style="width:144px; height:104px;" alt="news" class="img-fluid">
                                                    </a>
                                                    <div class="media-body">
                                                        <div class="post-date-dark">
                                                            <ul>
                                                                <li>
                                                                    <span>
                                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                                    </span>@isHot.CreatedDate.Value.ToString("dd/MM/yyyy")
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <h3 class="title-medium-dark size-md mb-none">
                                                            <a href="/News/NewDetail?Id=@isHot.Id">@isHot.Title</a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    @if (Model.ListNewsByNew != null && Model.ListNewsByNew.Count > 0)
    {
        <section class="bg-body section-space-less30">
            <div class="container">
                <div class="ne-isotope">
                    <div class="row">
                        <div class="col-12">
                            <div class="topic-border color-web-orange mb-30">
                                <div class="topic-box-lg color-web-orange">Tin tức mới</div>
                            </div>
                        </div>
                    </div>
                    <div class="featuredContainer">
                        <div class="row">
                            <div class="col-xl-12 col-lg-5 col-md-6 col-sm-12">
                                <div class="row keep-items-4-md">
                                    @foreach (var itemnews in Model.ListNewsByNew)
                                    {
                                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-4 col-6">
                                            <div class="mb-25 position-relative">
                                                <a class="img-opacity-hover" href="single-news-1.html">
                                                    <img src="/Uploads/Images/@itemnews.Thumb" alt="news" class="img-fluid width-100 mb-15">
                                                </a>
                                                <div class="topic-box-top-xs">
                                                    <div class="topic-box-sm mb-20 color-cod-gray">@itemnews.CateName</div>
                                                </div>
                                                <div class="post-date-dark">
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                            </span>@itemnews.CreatedDate.Value.ToString("dd/MM/yyyy")
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h3 class="title-medium-dark size-md">
                                                    <a href="single-news-2.html">@itemnews.Title</a>
                                                </h3>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    @if (Model.ListCategorieIsHome != null && Model.ListCategorieIsHome.Count > 0)
    {
        foreach (var cate in Model.ListCategorieIsHome)
        {
            var lstColor = new List<string>() { "color-cod-gray", "color-azure-radiance", "color-scampi", "color-cutty-sark", "color-pomegranate", "color-web-orange" };
            var colorRandom = lstColor[new Random().Next(0, 6)];
            var lstNewByCate = Model.ListNewsIsActiveAll.Where(x => x.CateId == cate.Id).ToList();
            <section class="bg-body section-space-less30">
                <div class="container">
                    <div class="ne-isotope">
                        <div class="row">
                            <div class="col-12">
                                <div class="topic-border @colorRandom mb-30">
                                    <div class="topic-box-lg @colorRandom">@cate.CateName</div>
                                </div>
                            </div>
                        </div>
                        <div class="featuredContainer">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="row keep-items-4-md">
                                        @foreach (var news in lstNewByCate)
                                        {
                                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-4 col-6">
                                                <div class="mb-25 position-relative">
                                                    <a class="img-opacity-hover" href="single-news-1.html">
                                                        <img src="/Uploads/Images/@news.Thumb" alt="news" class="img-fluid width-100 mb-15">
                                                    </a>
                                                    <div class="topic-box-top-xs">
                                                        <div class="topic-box-sm color-cod-gray mb-20">@news.CateName</div>
                                                    </div>
                                                    <div class="post-date-dark">
                                                        <ul>
                                                            <li>
                                                                <span>
                                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                                </span>@news.CreatedDate.Value.ToString("dd/MM/yyyy");
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <h3 class="title-medium-dark size-md">
                                                        <a href="/News/NewDetail?Id=@news.Id">@news.Title</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        }
                                                                          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    }   
}

